{% extends "base.html" %}
{% block body %}
<h2>Welcome to the Flask-oDesk example application!</h2>
<div>
This example is a simple <a href="http://flask.pocoo.org/" target="_blank">flask</a> application, that uses <a href="https://github.com/odesk/flask-odesk" target="_blank">flask-odesk</a> for users authorization and for an access to the <a href="http://developers.odesk.com/" target="_blank">API</a> <a href="http://odesk.com/" target="_blank">oDesk</a>.
<br>
You can see your oDesk team's activity by clicking the following link:
<h3><a href="{{ url_for('team') }}">Your oDesk Team Room</a></h3>
</div>
{% endblock %}
